.skills {

  .skillsContent {
    min-height: $minHeight;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75% 25%;
    grid-template-areas: "Language Language Software Software" "Other Other Hobby Hobby";

    .languagesFrameworks, .software, .otherSkills, .hobbies {
      background: $color-1;
      padding: 1rem;
    }

    h3 {
      margin-bottom: 1rem;
      font-family: $font-2;
      color: $color-4;
    }

    .languagesFrameworks {
      grid-area: Language;
      margin-bottom: .5rem;
      margin-right: .5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "L" "F";

      .languageDisplay {
        grid-area: L;
      }

      .frameworkDisplay {
        grid-area: F;
      }
    }

    .software {
      grid-area: Software;
      margin-bottom: .5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "S";

      .softwareDisplay {
        grid-area: S;
      }

      .years {
        span {
          &:nth-child(2):before,
          &:nth-child(3):before {
            height: 220px;
          }
        }
      }
    }

    .years {
      font-size: .8rem;
      display: flex;
      justify-content: space-between;
      color: $white;

      span {
        width: 40%;

        &:nth-child(2) {
          text-align: center;
          width: 20%;
        }

        &:nth-child(3) {
          text-align: right;
          width: 40%;
        }

        &:nth-child(2):before,
        &:nth-child(3):before {
          content: '';
          background: rgba(180, 179, 179, 0.507);
          position: absolute;
          height: 190px;
          width: 1px;
          transform: translate(12px, 20px);
        }
      }
    }

    .languagesList {
      padding-top: .5rem;

      li {
        color: $color-4;
      }

      .progressBar {
        height: .4rem;
        background: transparent;
        border-radius: 50px;
        margin-top: 0.2rem;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          background: $color-3;
          border-radius: 50px;
          height: .4rem;
          width: 0;
          animation: line 3s ease-out forwards;

          @keyframes line {
            to {
              width: 100%;
            }
          }
        }
      }
    }

    .otherSkills {
      grid-area: Other;
      margin-right: .5rem;

      .list {
        display: flex;
        height: 100%;
        margin: 0 auto;
        justify-content: space-between;

        ul {
          height: 80%;
          display: grid;
          color: $color-3;

          svg {
            transform: translateY(2px);
            color: $color-4;
          }
        }
      }
    }

    .hobbies {
      grid-area: Hobby;
      padding-left: 1.5rem;

      ul {
        height: 80%;
        display: grid;
        color: $color-3;

        li {
          svg {
            transform: translateY(2px);
            color: $color-4;
          }

          span {
            position: absolute;
            transform: translateX(2.2rem);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .skillsContent {
    h3 {
      font-size: 1.2rem !important;
    }

    .languagesList {
      padding-top: .2rem !important;
    }

    p {
      font-size: .8rem !important;
    }

    .otherSkills, .hobbies {
      font-size: .8rem !important;
    }
  }
}

@media screen and (max-width: 850px) {
  .skillsContent {
    h4 {
      font-size: .9rem !important;
    }

    h5 {
      font-size: .6rem !important;
      padding: .2rem 1rem !important;
    }

    .languagesFrameworks {
      .years {
        span {
          &:nth-child(2):before,
          &:nth-child(3):before {
            height: 170px !important;
          }
        }
      }
    }

    .software {
      .years {
        span {
          &:nth-child(2):before,
          &:nth-child(3):before {
            height: 200px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .skillsContent {
    display: grid !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 180px 180px !important;

    .languages {
      grid-area: 1 !important;
    }

    .languagesFrameworks {
      margin-right: 0 !important;
    }

    .languageDisplay {
      margin-bottom: 2rem;
    }

    .years {
      span {
        &:nth-child(2):before,
        &:nth-child(3):before {
          height: 150px !important;
        }
      }
    }

    .software {
      grid-area: 2 !important;
      margin-right: 0 !important;

      .years {
        span {
          &:nth-child(2):before,
          &:nth-child(3):before {
            height: 200px !important;
          }
        }
      }
    }

    .otherSkills {
      grid-area: 3 !important;
      margin-right: 0 !important;
    }

    .hobbies {
      grid-area: 4 !important;
      margin-top: .5rem !important;
    }
  }
}